<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>全部订单</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <link rel="stylesheet" href="/themes/default/css/user.css">
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <script th:inline="javascript">
        function goPage(page) {
            var number = [[${number}]];
            var pages = [[${pages}]];
            number = number + page;
            if(number <= 0){
                return;
            }
            if(number > pages){
                return;
            }
            window.location.href='/order/allOrder?page='+number+'&size=5';
        }
    </script>
</head>

<body>
<div class="con">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href=" javascript:history.go(-1) " class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>待收货</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>
        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <div class="ect-pro-list user-order" style="border-bottom:none;">
        <ul id="J_ItemList" th:each="orderInfo,orderStat : ${list}">
            <li>
                <a th:href="@{'/order/orderDetail/'+${orderInfo.orderId}}"><img src="/assets/images/no_picture.gif" class="pull-left" />
                    <dl>
                        <dt>
                            <h4 class="title" th:text="'订单号：'+${orderInfo.orderCode}"></h4>
                        </dt>

                        <!--   0 未付款 ，1已付款 ，2已发货  3已签收  4换货申请中， 5换货处理中 6 取消交易 -->

                        <div th:switch="${orderInfo.status}">
                            <dd th:case="'0'">订单状态：未付款</dd>
                            <dd th:case="'1'">订单状态：已付款</dd>
                            <dd th:case="'2'">订单状态：已发货</dd>
                            <dd th:case="'3'">订单状态：已签收</dd>
                            <dd th:case="'4'">订单状态：换货申请中</dd>
                            <dd th:case="'5'">订单状态：换货处理中</dd>
                            <dd th:case="'6'">订单状态：取消交易</dd>
                        </div>
                        <dd>订单总金额：<span class="ect-color" th:text="'￥'+${orderInfo.orderPriceTotal}+'元'"></span></dd>
                        <dd  th:text="'下单时间：'+${orderInfo.insertDate}"></dd>
                    </dl>
                    <i class="pull-right fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <ul class="pager ect-margin-lr ect-page">
        <li class="pull-left"><a href="javascript:goPage(-1)">上一页</a></li>
        <li class="form-select">
            <i class="fa fa-sort-desc"></i>
            <select name="sel_question" onChange="window.location.href=this.value;">
                <option value="0" th:each="i : ${#numbers.sequence(1,pages)}" th:value="'/order/allOrder?page='+${i}+'&size=5'" th:text="${i}+'/'+${pages}" th:selected="${number==i}">请选择</option>
            </select>
        </li>
        <li class="pull-right"><a href="javascript:goPage(1)">下一页</a></li>
    </ul>
</div>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>
<script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
<script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.more.js"></script>
<script type="text/javascript" src="/assets/js/utils.js" ></script>
<script src="/assets/swiper/js/jquery.swiper.min.js"></script>
<script src="/themes/default/js/ectouch.js"></script>
<script src="/themes/default/js/simple-inheritance.min.js"></script>
<script src="/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/themes/default/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/assets/js/validform.js" ></script>
</body>
</html>