<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>订单详情</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <link rel="stylesheet" href="/themes/default/css/user.css">
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
    <script src="/themes/default/js/ectouch.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#dialogs').on('click', '.weui-dialog__btn', function(){
                $(this).parents('.js_dialog').fadeOut(200);
            });
        });
        function deleteCart(id){
            $('#deleteCard').attr('href','/order/receive/'+id);
            var $iosDialog1 = $('#iosDialog1');
            $iosDialog1.fadeIn(200);
        }

    </script>
</head>

<body>
<div class="con">
    <!--BEGIN dialog1-->
    <div id="dialogs">
        <div class="js_dialog" id="iosDialog1" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">确认收货？</strong></div>
                <!--div class="weui-dialog__bd">弹窗内容，告知当前状态、信息和解决方法，</div-->
                <div class="weui-dialog__ft">
                    <a href="javascript:;" id="deleteCard" class="weui-dialog__btn weui-dialog__btn_primary" >确认</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!--END dialog1-->
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href=" javascript:history.go(-1) " class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>订单详情</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>
        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <section class="user-order-detail" style="border-top:none;">
        <div class="user-order">
            <p>订单号：<span th:text="${orderInfo?.orderCode}">2018052059818</span>
            <p>订单状态：
                <span th:if="${orderInfo.status} == 0">未付款</span>
                <span th:if="${orderInfo.status} == 1">已付款</span>
                <span th:if="${orderInfo.status} == 2">已发货</span>
                <span th:if="${orderInfo.status} == 3">已签收 </span>
                <span th:if="${orderInfo.status} == 4">换货申请中</span>
                <span th:if="${orderInfo.status} == 5">换货处理中</span>
                <span th:if="${orderInfo.status} == 6">取消交易</span>
            </p>
            <p>订单总金额：<span th:text="'￥'+${orderInfo?.orderPriceTotal}+'元'">￥256.00元</span></p>
            <p>下单时间：<span th:text="${orderInfo?.insertDate}">2018-05-20 17:30:54</span></p>
        </div>
        <div class="ect-pro-list">
            <ul>
                <li th:each="orderMiddle,stat:${list}"><a href="#" target="_blank">
                    <!--<img src="/assets/images/no_picture.gif">-->
                    <img src="" th:src="@{${server}+'/uploadFiles/uploadImgs/'+${orderMiddle?.pictures[0]?.path}}" >
                </a>
                    <dl>
                        <dt>
                            <h4 class="title"><a href="#" th:text="${orderMiddle?.goodName}">洗衣机</a></h4>
                        </dt>
                        <dd class="dd-price"><b th:text="'本店售价：￥'+${orderMiddle?.goodPrice}+'元 数量：'+${orderMiddle?.num}">本店售价：￥123.00元 数量：2</b></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </section>
    <div class="two-btn ect-padding-tb ect-padding-lr ect-margin-tb text-center" th:if="${orderInfo.status == 2}">
        <a class="btn btn-info ect-colorf ect-bg" href="#"  th:onclick="'javascript:deleteCart(\''+${orderInfo?.orderId}+'\');'" >确认收货</a>
    </div>
    <section class="order-detail-info ect-margin-tb" style="margin-bottom:0;" th:if="${orderInfo.status} == 2">
        <ul>
            <li>收货人姓名：<b th:text="${address?.addName}"></b></li>
            <li>手机：<b th:text="${address?.phone}"></b></li>
            <li>详细地址：<b th:text="${address?.address}"></b></li>

        </ul>
    </section>
    <section class="order-detail-info ect-margin-tb ect-margin-bottom0 user-bottom0">
        <ul>
            <li>运费金额：<b th:text="${orderInfo?.logisticsFee}"></b></li>
            <li>订单物流编号：<b th:text="${orderInfo?.logisticsCode}"></b></li>
        </ul>
    </section>
</div>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>

