<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>买断列表</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <link rel="stylesheet" href="/themes/default/css/user.css">
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <script type="text/javascript">
        $(function () {
            $('#dialogs').on('click', '.weui-dialog__btn', function(){
                $(this).parents('.js_dialog').fadeOut(200);
            });
        });
        function deleteCart(id){
            // if (confirm('您确实要把该商品移出购物车吗？')){
            //     location.href='/cart/delete/'+id
            // }
            $('#deleteCard').attr('href','/buyOut/buyOut/'+id);
            var $iosDialog1 = $('#iosDialog1');
            $iosDialog1.fadeIn(200);
        }

    </script>
</head>

<body>

<div class="con" >
    <!--BEGIN dialog1-->
    <div id="dialogs">
        <div class="js_dialog" id="iosDialog1" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">确认买断？</strong></div>
                <!--div class="weui-dialog__bd">弹窗内容，告知当前状态、信息和解决方法，</div-->
                <div class="weui-dialog__ft">
                    <a href="javascript:;" id="deleteCard" class="weui-dialog__btn weui-dialog__btn_primary" >确认</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!--END dialog1-->
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href="/" class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>买断列表</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>

        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <div class="page">
        <div class="page__bd">
            <div class="weui-form-preview" th:each="wap,wapStat:${list}" >
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">手机号</label>
                    <em class="weui-form-preview__value" th:text="${wap.tel}">¥2400.00</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">姓名</label>
                        <span class="weui-form-preview__value" th:text="${wap.name}">电动打蛋机</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">等级</label>
                        <span class="weui-form-preview__value" th:text="${wap.level}">名字名字名字</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">微信号</label>
                        <span class="weui-form-preview__value" th:text="${wap.wechat}">很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字</span>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" th:onclick="'javascript:deleteCart(\''+${wap.userId}+'\');'" href="javascript:">激活</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!--table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd" class="u-table">
        <tr align="center" class="first-tr">
            <td bgcolor="#ffffff">手机号</td>
            <td bgcolor="#ffffff">姓名</td>
            <td bgcolor="#ffffff">等级</td>
            <td bgcolor="#ffffff">微信号</td>
            <td bgcolor="#ffffff">处理</td>
        </tr>

        <tr th:if="${list==null}"><td colspan="5" align="center" bgcolor="#ffffff">没有记录</td></tr>
        <tr  align="center" th:if="${list!=null}" th:each="wap,wapStat:${list}" >
            <td bgcolor="#ffffff" th:text="${wap.tel}">手机号</td>
            <td bgcolor="#ffffff" th:text="${wap.name}">姓名</td>
            <td bgcolor="#ffffff" th:text="${wap.level}">注册日期</td>
            <td bgcolor="#ffffff" th:text="${wap.wechat}">微信号</td>
            <td bgcolor="#ffffff"><a href="#"  th:onclick="'javascript:deleteCart(\''+${wap.userId}+'\');'" onclick="if (!confirm('您确定要激活此条记录吗？')) return false;" class="btn btn-default">激活</a></td>
        </tr>
    </table-->
</div>

<div class="search" style="display:none;">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center"><span>搜索</span><a href="javascript:;" onClick="closeSearch();"><i class="icon-close pull-right"></i></a></header>
    </div>
    <div class="ect-padding-lr">
        <form action="/index.php?m=default&c=category&a=index&u=2"  method="post" id="searchForm" name="searchForm">
            <div class="input-search"> <span>
        <input name="keywords" type="search" placeholder="请输入搜索关键词！" id="keywordBox">
        </span>
                <button type="submit" value="搜索" onclick="return check('keywordBox')"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </form>

    </div>
</div>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>

<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.more.js"></script>
<script type="text/javascript" src="/assets/js/utils.js" ></script>
<script src="/assets/swiper/js/jquery.swiper.min.js"></script>
<script src="/themes/default/js/ectouch.js"></script>
<script src="/themes/default/js/simple-inheritance.min.js"></script>
<script src="/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/themes/default/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/assets/js/validform.js" ></script>
<script language="javascript">
    /*banner滚动图片*/
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        loop: true,
        autoplay : 2000
    });
    /*弹出评论层并隐藏其他层*/
    function openSearch(){
        if($(".con").is(":visible")){
            $(".con").hide();
            $(".search").show();
        }
    }
    function closeSearch(){
        if($(".con").is(":hidden")){
            $(".con").show();
            $(".search").hide();
        }
    }
</script>
