<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>修改密码</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <link rel="stylesheet" href="/themes/default/css/user.css">
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="./example.css"/>
    <script type="text/javascript" src="/assets/js/user.js" ></script>
</head>

<body>
<div id="dialogs">
    <!--BEGIN dialog2-->
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" id="iosText">弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" id="iosHref" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
</div>
<div class="con">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href=" javascript:history.go(-1) " class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>修改密码</span> <a href="/" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>
        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <script type="text/javascript">
        var bonus_sn_empty = "请输入您要添加的红包号码！";
        var bonus_sn_error = "您输入的红包号码格式不正确！";
        var email_empty = "请输入您的电子邮件地址！";
        var email_error = "您输入的电子邮件地址格式不正确！";
        var old_password_empty = "请输入您的原密码！";
        var new_password_empty = "请输入您的新密码！";
        var confirm_password_empty = "请输入您的确认密码！";
        var both_password_error = "您两次输入的密码不一致！";
        var msg_blank = "不能为空";
        var no_select_question = "- 您没有完成密码提示问题的操作";
    </script>
    <form name="formPassword" action="/profile/password" method="post" onSubmit="return editPassword()" >
        <section class="flow-consignee ect-bg-colorf">
            <ul>
                <li>
                    <div class="input-text"><b class="pull-left">原密码：</b>
                        <span>
                            <input type="hidden" name="userId" th:value="${user.userId}">
   	                        <input placeholder="原密码" name="old_password" type="password">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="input-text"><b>新密码：</b>
                        <span>
                            <input placeholder="新密码" name="new_password" type="password">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="input-text"><b>确认密码：</b>
                        <span>
                            <input placeholder="确认密码" name="comfirm_password" type="password">
                        </span>
                    </div>
                </li>
            </ul>
        </section>
        <div class="two-btn ect-padding-tb ect-padding-lr ect-margin-tb text-center">
            <input name="submit" type="submit" class="btn btn-info ect-bg-colory" value="确认修改" />
        </div>
    </form>
</div>


</div>
<div class="search" style="display:none;">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center"><span>搜索</span><a href="javascript:;" onClick="closeSearch();"><i class="icon-close pull-right"></i></a></header>
    </div>
    <div class="ect-padding-lr">
        <form action="/index.php?m=default&c=category&a=index&u=0"  method="post" id="searchForm" name="searchForm">
            <div class="input-search"> <span>
        <input name="keywords" type="search" placeholder="请输入搜索关键词！" id="keywordBox">
        </span>
                <button type="submit" value="搜索" onclick="return check('keywordBox')"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </form>

    </div>
</div>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>

<script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
<script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.more.js"></script>
<script type="text/javascript" src="/assets/js/utils.js" ></script>
<script src="/assets/swiper/js/jquery.swiper.min.js"></script>
<script src="/themes/default/js/ectouch.js"></script>
<script src="/themes/default/js/simple-inheritance.min.js"></script>
<script src="/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/themes/default/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/assets/js/validform.js" ></script>
<script language="javascript">

    $(function() {
        $('#dialogs').on('click', '.weui-dialog__btn', function () {
            $(this).parents('.js_dialog').fadeOut(200);
        });
    });


</script>
</body>
</html>