<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>余额提现</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <link rel="stylesheet" href="/themes/default/css/user.css">
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="./example.css"/>
</head>

<body>
<div id="dialogs">
    <!--BEGIN dialog2-->
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" id="iosText">请输入提现金额</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" id="iosHref" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
</div>
<div class="con">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href="/" class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>资金管理</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>
        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <ul class="nav nav-tabs account" role="tablist">
        <li><a href="/money/index?page=1&size=5" >奖金明细</a></li>
        <li><a href="/money/record?page=1&size=5" >申请记录</a></li>
        <li><a href="/money/recharge" >账户充值</a></li>
        <li class="active"><a href="/money/withdraw" >余额提现</a></li>
    </ul>
    <form action="/money/withdrawSubmit" method="post" name="theForm" onsubmit="return checkStr()">
        <div class="ect-bg-colorf flow-consignee">
            <ul class="o-info">
                <li>
                    <div class="input-text">
                        <b class="pull-left">提现金额：</b>
                        <span>
                            <input name="realMoney" placeholder="提现金额" id="realMoney" type="number" max="1000000" min="0" class="inputBg_touch" value="" />
                        </span>
                    </div>
                </li>
                <li>
                    <div class="input-text">
                        <b class="pull-left">会员备注：</b>
                        <span>
                            <input name="user_note" placeholder="会员备注" type="text" class="inputBg_touch" value="" />
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="two-btn ect-padding-tb ect-padding-lr ect-margin-tb text-center">
            <input type="hidden" name="surplus_type" value="1" />
            <input type="submit" name="submit"  class="btn btn-info ect-bg-colory"  value="提交申请"/>
        </div>
    </form>
</div>
<div class="search" style="display:none;">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center"><span>搜索</span><a href="javascript:;" onClick="closeSearch();"><i class="icon-close pull-right"></i></a></header>
    </div>
    <div class="ect-padding-lr">
        <form action="/index.php?m=default&c=category&a=index&u=2"  method="post" id="searchForm" name="searchForm">
            <div class="input-search"> <span>
        <input name="keywords" type="search" placeholder="请输入搜索关键词！" id="keywordBox">
        </span>
                <button type="submit" value="搜索" onclick="return check('keywordBox')"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </form>

    </div>
</div>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>
<script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
<script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.more.js"></script>
<script type="text/javascript" src="/assets/js/utils.js" ></script>
<script src="/assets/swiper/js/jquery.swiper.min.js"></script>
<script src="/themes/default/js/ectouch.js"></script>
<script src="/themes/default/js/simple-inheritance.min.js"></script>
<script src="/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/themes/default/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/assets/js/validform.js" ></script>

<script type="text/javascript" src="/assets/script/region.js"></script>
<script type="text/javascript" src="/assets/js/shopping_flow.js"></script>
<script type="text/javascript">
    $(function () {
        $('#dialogs').on('click', '.weui-dialog__btn', function(){
            $(this).parents('.js_dialog').fadeOut(200);
        });
    });
    function checkStr() {
        var title = document.getElementById("realMoney").value.trim();
        if (title == null || title == "") {
            $('#iosDialog2').fadeIn(200);
            return false;
        }
        return true;
    }
</script>

</body></html>