<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>结算</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <script type="text/javascript" src="/themes/default/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/themes/default/js/ectouch.js"></script>
</head>
<body>


<div id="dialogs">
    <!--BEGIN dialog1-->
    <div class="js_dialog" id="iosDialog1" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">收货地址</strong></div>
            <div class="weui-dialog__bd">您未配置收货地址，请您维护收货地址</div>
            <div class="weui-dialog__ft">
                <a href="/profile/addAddress/1" class="weui-dialog__btn weui-dialog__btn_primary">前往配置</a>
            </div>
        </div>
    </div>
    <!--BEGIN dialog1-->
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">请充值电子币</strong></div>
            <div class="weui-dialog__bd">您电子币余额不足请充值</div>
            <div class="weui-dialog__ft">
                <a href="/" class="weui-dialog__btn weui-dialog__btn_default">个人中心</a>
                <a href="/money/recharge" class="weui-dialog__btn weui-dialog__btn_primary">前往充值</a>
            </div>
        </div>
    </div>
</div>
<div class="con">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href="javascript:history.go(-1)" class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>订单确认</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>
        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <div class="flow-checkout">
        <form action="/goods/" method="post" name="theForm" id="theForm" onSubmit="return checkOrderForm(this)">
            <input type="hidden" id="addId" name="addId" th:value="${address?.addId}">
            <script type="text/javascript">
                var flow_no_payment = "您必须选定一个支付方式。";
                var flow_no_shipping = "您必须选定一个配送方式。";
            </script>
            <a href="/profile/addressList" >
                <section class="ect-margin-tb ect-padding-lr ect-padding-tb checkout-add">
                    <label for="addressId">
                        <p class="title" id="addName" th:inline="text">[[${address?.addName}]] <span th:text="${address?.phone}">未选择地址</span></p>
                        <p th:text="${address?.address}" id="addName">未选择地址</p>
                        <i class="fa fa-angle-right"></i>
                    </label>
                    <label th:if="${address == null}">
                        <p>未选择地址</p>
                    </label>
                </section>
            </a>
            <input type="hidden" name="level" th:value="${level}">
            <!--<section class="ect-margin-tb ect-padding-lr checkout-select" id="accordion" th:if="${level != null}">-->
                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">-->
                    <!--<p><b>会员等级</b><span class="label ect-bg-colory">请确认级别</span></p>-->
                    <!--<i class="fa fa-angle-down"></i></a>-->
                    <!--<div id="collapseOne" class="panel-collapse collapse in">-->
                    <!--<ul class="ect-radio">-->
                        <!--<li>-->
                            <!--<input name="payment" type="radio" id="payment_1" value="1" iscod="1" th:checked="${level==1}" onclick="selectPayment(this)" disabled="true" style="vertical-align:middle">-->
                            <!--<label for="payment_1">花冠<i></i></label>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<input name="payment" type="radio" id="payment_2" value="2"  th:checked="${level==2}" iscod="0" onclick="selectPayment(this)" style="vertical-align:middle">-->
                            <!--<label for="payment_2">花朵<i></i></label>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<input name="payment" type="radio" id="payment_3" value="3" iscod="0" th:checked="${level==3}"  onclick="selectPayment(this)" style="vertical-align:middle">-->
                            <!--<label for="payment_3">花瓣<i></i></label>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<input name="payment" type="radio" id="payment_4" value="3" iscod="0" th:checked="${level==4}" onclick="selectPayment(this)" style="vertical-align:middle">-->
                            <!--<label for="payment_4">花蕾<i></i></label>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<input name="payment" type="radio" id="payment_5" value="3" iscod="0" th:checked="${level==5}" onclick="selectPayment(this)" style="vertical-align:middle">-->
                            <!--<label for="payment_5">花芽<i></i></label>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<input name="payment" type="radio" id="payment_6" value="3" iscod="0" th:checked="${level==6}" onclick="selectPayment(this)" style="vertical-align:middle">-->
                            <!--<label for="payment_6">花粉<i></i></label>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</section>-->
            <!--<section class="ect-margin-tb ect-padding-lr checkout-select">-->

                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1" aria-expanded="false" class="collapsed">-->
                    <!--<p><b> 余额付款 </b></p>-->
                    <!--<i class="fa fa-angle-down"></i> </a>-->
                    <!--<input type="hidden" th:value="${user.dzb}" name="dzb" id="dzb">-->
                <!--<div id="collapseFour1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" th:text="'您当前的可用余额为'+${user.dzb}"> 您当前的可用余额为999744.00<br>-->
                    <!--<span id="ECS_SURPLUS_NOTICE"></span>-->
                    <!--<input name="surplus" type="text" id="ECS_SURPLUS" size="10" value="0" onblur="changeSurplus(this.value)" disabled="disabled">-->
                <!--</div>-->

                <!--&lt;!&ndash;<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" class="collapsed">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p><b> 订单附言 </b></p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa-angle-down"></i> </a>&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 45px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input name="userMark" type="text" class="fuyan" placeholder="请输入订单附言">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</section>-->
            <section class="ect-margin-tb ect-margin-bottom0 ect-padding-lr checkout-select checkout-pro-list">
                <p><b>商品列表</b><span class="label ect-bg-colory"><a href="/cart" class="ect-colorf">修改</a></span></p>
                <ul>
                    <li th:each="cart,cartstat : ${list}">
                        <dl>
                            <dt class="pull-left">
                                <a href="/index.php?m=default&c=goods&a=index&id=1&u=2" target="_blank" th:text="${cart.goodsName}"></a>
                            </dt>
                            <dd class="pull-left list-num" th:text="'x '+${cart.goodsNumber}">x 1</dd>
                            <dd class="pull-right" th:text="'￥'+${cart.goodsPrice}+'元'">￥11111.00元</dd>
                        </dl>
                    </li>
                </ul>

                <div class="ect-padding-tb text-right" id="ECS_ORDERTOTAL">
                    <!--
                    该订单完成后，您将获得
                    <b class="ect-colory">11111</b>
                    积分
                    ，以及价值
                    <b class="ect-colory">￥0.00元</b>
                    的红包。
                    <br/> -->
                    当前等级:
                    <b class="ect-colory" id="level"></b>
                    <br />
                    商品总价:
                    <b class="ect-colory"  th:text="'￥'+${total_desc}+'元'"></b>
                    <input type="hidden" name="goodPriceTotal" th:value="${total_desc}" >
                    <br />
                    应付款金额: <b class="ect-colory" name="orderPriceTotal" th:text="'￥'+${total_desc}+'元'"></b><br />
                    <input type="hidden" name="orderPriceTotal" th:value="${total_desc}"  id="orderPriceTotal">
                </div>
            </section>
            <input TYPE="hidden" th:value="${listString}" name="listString">
            <div class="ect-padding-lr ect-padding-tb ect-margin-tb">
                <input type="submit" name="submit" value="订单提交" class="btn btn-info ect-btn-info ect-colorf ect-bg"/>
                <input type="hidden" name="step" value="done" />
            </div>
        </form>
    </div>
</div>

<div class="search" style="display:none;">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center"><span>搜索</span><a href="javascript:;" onClick="closeSearch();"><i class="icon-close pull-right"></i></a></header>
    </div>
    <div class="ect-padding-lr">
        <form action="/index.php?m=default&c=category&a=index&u=2"  method="post" id="searchForm" name="searchForm">
            <div class="input-search"> <span>
        <input name="keywords" type="search" placeholder="请输入搜索关键词！" id="keywordBox">
        </span>
                <button type="submit" value="搜索" onclick="return check('keywordBox')"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </form>

    </div>
</div>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>
<script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
<script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.more.js"></script>
<script type="text/javascript" src="/assets/js/utils.js" ></script>
<script src="/assets/swiper/js/jquery.swiper.min.js"></script>
<script src="/themes/default/js/ectouch.js"></script>
<script src="/themes/default/js/simple-inheritance.min.js"></script>
<script src="/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/themes/default/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/assets/js/validform.js" ></script>
<script language="javascript">
    var leve =
        // level
    /*banner滚动图片*/
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        loop: true,
        autoplay : 2000
    });
    /*弹出评论层并隐藏其他层*/
    function openSearch(){
        if($(".con").is(":visible")){
            $(".con").hide();
            $(".search").show();
        }
    }
    function closeSearch(){
        if($(".con").is(":hidden")){
            $(".con").show();
            $(".search").hide();
        }
    }
</script>
<script type="text/javascript" src="/assets/js/shopping_flow.js"></script>

<script>
    function back_goods_number(id){
        var goods_number = document.getElementById('goods_number'+id).value;
        document.getElementById('back_number'+id).value = goods_number;
    }
    function change_goods_number(type, id)
    {
        var goods_number = document.getElementById('goods_number'+id).value;
        if(type != 2){back_goods_number(id)}
        if(type == 1){goods_number--;}
        if(type == 3){goods_number++;}
        if(goods_number <=0 ){goods_number=1;}
        if(!/^[0-9]*$/.test(goods_number)){goods_number = document.getElementById('back_number'+id).value;}
        document.getElementById('goods_number'+id).value = goods_number;
        $.post('/index.php?m=default&c=flow&a=ajax_update_cart&u=2', {
            rec_id : id,goods_number : goods_number
        }, function(data) {
            change_goods_number_response(data,id);
        }, 'json');
    }
    // 处理返回信息并显示
    function change_goods_number_response(result,id)
    {
        if (result.error == 0){
            var rec_id = result.rec_id;
            $("#goods_number_"+rec_id).val(result.goods_number);
            document.getElementById('total_number').innerHTML = result.total_number;//更新数量
            document.getElementById('goods_subtotal').innerHTML = result.total_desc;//更新小计
            if (document.getElementById('ECS_CARTINFO')){
                //更新购物车数量
                document.getElementById('ECS_CARTINFO').innerHTML = result.cart_info;
            }
        }else if (result.message != ''){
            alert(result.message);
            var goods_number = document.getElementById('back_number'+id).value;
            document.getElementById('goods_number'+id).value = goods_number;
        }
    }

    /*点击下拉手风琴效果*/
    $('.collapse').collapse()
    $(".checkout-select a").click(function(){
        if(!$(this).hasClass("select")){
            $(this).addClass("select");
        }else{
            $(this).removeClass("select");
        }
    });

</script>

</body>
</html>
