<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
    <title>商品列表</title>
    <link rel="stylesheet" href="/themes/default/statics/fonts/iconfont.css">
    <link rel="stylesheet" href="/themes/default/statics/css/swiper-3.2.5.min.css" />
    <link rel="stylesheet" href="/themes/default/statics/css/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="/themes/default/statics/css/ectouch.css" />
    <script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
    <script src="/themes/default/js/ectouch.js"></script>
</head>
<body class="">
<div class="con">
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href="/" class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>商品列表</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>
        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <div class="category">
        <section class="product-list j-product-list product-list-medium" data="1">
            <ul>
                <li id="j-product-box" th:each="good,goodstat : ${list}">
                    <div class="product-div">
                        <a class="product-div-link" href="/goods/detail/12" th:href="@{'/goods/detail/'+${good?.goodId}}"></a>
                        <img class="product-list-img" th:if="${# lists.isEmpty(good.pictures)}" src="/assets/images/no_picture.gif">
                        <img class="product-list-img" th:if="${not # lists.isEmpty(good.pictures)}"  th:src="@{${server}+'/uploadFiles/uploadImgs/'+${good?.pictures[0]?.path}}" src="/assets/images/no_picture.gif">
                        <div class="product-text">
                            <h4 th:text="'商品名：'+${good.goodName}">电视</h4>
                            <p>
                                <span style="display:inline-block" class="p-price t-first " th:text="'花冠：'+${good?.aPrice}">¥11111<small><del>¥13333.19</del></small></span>
                                <span style="display:inline-block" class="p-price t-two " th:text="'花朵：'+${good?.bPrice}">¥11111<small><del>¥13333.19</del></small></span>
                                <span style="display:inline-block" class="p-price t-first " th:text="'花瓣：'+${good?.bPrice}">¥11111<small><del>¥13333.19</del></small></span>
                                <span style="display:inline-block" class="p-price t-two " th:text="'花蕾：'+${good?.bPrice}">¥11111<small><del>¥13333.19</del></small></span>
                                <span style="display:inline-block" class="p-price t-first " th:text="'花芽：'+${good?.bPrice}">¥11111<small><del>¥13333.19</del></small></span>
                                <span style="display:inline-block" class="p-price t-two " th:text="'花粉：'+${good?.bPrice}">¥11111<small><del>¥13333.19</del></small></span>
                            </p>
                            <a href="javascript:addCart(1)" class="icon-flow-cart fr j-goods-attr" style="display:None"><i class="iconfont icon-gouwuche"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>


    </div>
</div>
<div id="j-filter-div" class="j-filter-div filter-div ts-5 c-filter-div">
    <div class="mask-filter-div"></div>
</div>

<script type="text/javascript">
    //设置cookie
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }
    function clearHistroy(){
        setCookie('ECS[keywords]', '', -1);
        document.getElementById("search_histroy").style.visibility = "hidden";
    }
</script>
</body>

</html>