<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>提示页面</title>
    <link rel="stylesheet" href="/css/weui.min.css">
</head>
<body ontouchstart>
<div class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title" th:text="${message}"></h2>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <!--a href="javascript:history.back();" th:href="${contentUrl}" class="weui-btn weui-btn_primary" th:text="${buttonValue}"></a-->
                <a href="javascript:;"  th:href="${contentUrl}" class="weui-btn weui-btn_plain-primary"  th:text="${buttonValue}">按钮</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>