<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/themes/default/fonts/iconfont.css">
</head>
<body>
        <nav class="ect-nav ect-nav-list" style="display:none;">
            <ul class="ect-diaplay-box text-center">
                <li class="ect-box-flex"><a href="/homepage"><i class="iconfont icon-shouye"></i>首页</a></li>

                <li class="ect-box-flex"><a href="/storage/index"><i class="iconfont icon-cailiaokufang"></i>云库房</a></li>
                <li class="ect-box-flex"><a href="/goods/index"><i class="iconfont icon-shangpinziliao"></i>商品</a></li>
                <li class="ect-box-flex"><a href="/cart"><i class="iconfont icon-gouwucheman"></i>购物车</a></li>
                <li class="ect-box-flex"><a href="/"><i class="iconfont icon-wo"></i>个人中心</a></li>
            </ul>
        </nav>

</body>
</html>