<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的分享</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/themes/default/css/style.css">
    <link rel="stylesheet" href="/themes/default/css/user.css">
    <link rel="stylesheet" href="/themes/default/css/photoswipe.css">
    <script type="text/javascript" src="/themes/default/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/themes/default/js/ectouch.js"></script>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/css/weui.min.css">
    <script type="text/javascript">
        $(function () {
            $('#dialogs').on('click', '.weui-dialog__btn', function(){
                $(this).parents('.js_dialog').fadeOut(200);
            });
        });
        function deleteCart(id){
            // if (confirm('您确实要把该商品移出购物车吗？')){
            //     location.href='/cart/delete/'+id
            // }
            $('#deleteCard').attr('href','/register/activate/'+id);
            var $iosDialog1 = $('#iosDialog1');
            $iosDialog1.fadeIn(200);
        }

    </script>
</head>

<body>
<!--BEGIN dialog1-->
<div id="dialogs">
    <div class="js_dialog" id="iosDialog1" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">确认激活？</strong></div>
            <!--div class="weui-dialog__bd">弹窗内容，告知当前状态、信息和解决方法，</div-->
            <div class="weui-dialog__ft">
                <a href="javascript:;" id="deleteCard" class="weui-dialog__btn weui-dialog__btn_primary" >确认</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
            </div>
        </div>
    </div>
</div>
<!--END dialog1-->
<div class="con" >
    <div class="ect-bg">
        <header class="ect-header ect-margin-tb ect-margin-lr text-center ect-bg icon-write"> <a href="/" class="pull-left ect-icon ect-icon1 ect-icon-history"></a> <span>我的分享</span> <a href="javascript:;" onClick="openMune()" class="pull-right ect-icon ect-icon1 ect-icon-mune"></a></header>

        <nav class="ect-nav ect-nav-list" style="display:none;" th:replace="header::html">
        </nav>
    </div>
    <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd" class="u-table">
        <tr align="center" class="first-tr">
            <td bgcolor="#ffffff">手机号</td>
            <td bgcolor="#ffffff">生产日期</td>
            <td bgcolor="#ffffff">注册日期</td>
            <td bgcolor="#ffffff">微信号</td>
            <td bgcolor="#ffffff">处理</td>
        </tr>

        <tr th:if="${list==null}"><td colspan="5" align="center" bgcolor="#ffffff">没有记录</td></tr>
        <tr  align="center" th:if="${list!=null}" th:each="register,registerStat:${list}" >
            <td bgcolor="#ffffff" th:text="${register.tel}">手机号</td>
            <td bgcolor="#ffffff" th:text="${register.name}">姓名</td>
            <td bgcolor="#ffffff" th:text="${register.insertDate}">注册日期</td>
            <td bgcolor="#ffffff" th:text="${register.wechat}">微信号</td>
            <td bgcolor="#ffffff"><a href="#"  th:onclick="'javascript:deleteCart(\''+${register.userId}+'\');'" class="btn btn-default">激活</a></td>
        </tr>
    </table>
</div>


<a id="scrollUp" href="#top" style="position: fixed; z-index: 10;"><i class="fa fa-angle-up"></i></a>
<style>
    #scrollUp {
        border-radius:100%;
        background-color: #777;
        color: #eee;
        font-size: 40px;
        line-height: 1;text-align: center;text-decoration: none;bottom: 1.5em;right: 10px;overflow: hidden;width: 46px;
        height: 46px;
        border: none;
        opacity: 0.6;
    }
</style>
<script type="text/javascript" src="/assets/js/jquery.min.js" ></script>
<script type="text/javascript" src="/assets/js/jquery.json.js" ></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/jquery.more.js"></script>
<script type="text/javascript" src="/assets/js/utils.js" ></script>
<script src="/assets/swiper/js/jquery.swiper.min.js"></script>
<script src="/themes/default/js/simple-inheritance.min.js"></script>
<script src="/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/themes/default/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/assets/js/validform.js" ></script>

